.container {
  width: 500px;
  background: pink;
  min-height: 400px;
  padding: 20px;
  margin: auto;
  text-align: center;
}

.Todo {
  text-align: left;
  font-weight: 500;
  padding: 0;
  margin: 0;
  list-style: none;
  margin-top: 50px;
}

.removeBtn {
  color: #fff;
  background: red;
  border: none;
  margin: 2px;
  margin-left: 100px;
}
